<div class = "post_comment" >
<%= form_with(model: [@article,  @comment],local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(comment.errors.count, "つエラー") %> があります。</p>

      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="comment_field">
    <%= form.label "コメント" %>
    <%= form.text_field :content, placeholder: "5~15文字" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-outline-primary btn-sm" %>
  </div>
  <p>コメントは1記事に1つだけ投稿できます</p>
</div>
<% end %>
