<h2><%= link_to Article.find(params[:article_id]).title, Article.find(params[:article_id]).link %></h2>
<% unless user_signed_in? %>
  <p>※コメント投稿にはログインが必要です</p>
<% else %>
  <%= render 'form', comment: @comment %>
<% end %>
<br>
<h3>コメント欄</h3>

<table>
  <thead>
    <tr>
      <th class="image_th">icon</th>
      <th>user_name</th>
      <th>comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td class="image_td"><%= image_tag "default.png", class: "default" %></td>
        <td><%= comment.user.name %></td>
        <td><%= comment.content %></td>
        <td><%#= link_to 'Show', comment %></td>
        <% if user_signed_in? && current_user.id == comment.user_id %>
          <td><%= link_to 'Edit', edit_article_comment_path(params[:article_id], comment) %></td>
          <td><%= link_to 'Destroy', article_comment_path(params[:article_id], comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', articles_path %>
