<div class = "article">
  <div>
    <ul class = "article_info shadow-sm p-3 bg-white rounded border-top" >
      <h3><%= link_to @article.title, @article.link %></h3>
      <li class="comment_info text-info" >
        記事内いいね数:<%= @article.article_statistic.fav %>
        記事内コメント数:<%= @article.article_statistic.comment %>
        合算:<%= params[:ranking] %>
      </li>
      <li class = "article_source text-black-50">Yahoo!ニュース</li>
    </ul>
  </div>
</div>

<div class = "post_field" >
<h3>みんなのコメント</h3>
<% unless user_signed_in? %>
  <p>※コメント投稿にはログインが必要です</p>
<% else %>
  <%= render 'form', comment: @comment %>
<% end %>
<br>
</div>


<div class = "comment_list border border-secondary rounded" >
<% @comments.reverse_each do |comment| %>
    <div class = "comment_div">
      <ul class ="each_comment shadow p-3 bg-white rounded border-top">
        <li class = "comment_info">
          <%= image_tag "default.png", class: "default" %>
          <%= comment.user.name %>
          <%= comment.content %>
          <% if user_signed_in? && current_user.id == comment.user_id %>
            <td><%#= link_to 'Edit', edit_article_comment_path(params[:article_id], comment) %></td>
            <td><%= link_to '×', article_comment_path(params[:article_id], comment), method: :delete, data: { confirm: '削除しますか?' } %>
          <% end %>
        </li>
      </ul>
    </div>
    <% end %>
</div>

<br>

<%= link_to 'Back', articles_path %>
