<div class = "top_part">
  <h4>最近、何が話題になった？</h4>
  <h5><%= @display_the_title %></h5>
  <%= link_to '24時間ランキング', articles_path(value: "24hour_time_ranking") %>
  <%= link_to '1週間のランキング', articles_path(value: "1week_time_ranking") %>
  <%= link_to '総合ランキング', articles_path(value: "all_time_ranking") %>
</div>
<%= form_with(url: articles_path, local: true, method: :get) do |form| %>
<div>
<table class = "sort_table">
<th>
  <div class="field">
    <%= form.label :time %>
    <%= form.select :time, { '24時間ランキング': 1, '1週間のランキング': 2, '総合ランキング': 3}, { include_blank: '選択', selected: @time } %>
</div>
</th>
<th>
  <div class="field">
    <%= form.label :sort_algorithm %>
    <%= form.select :sort_algorithm, { '総合': 1, 'いいね': 2, 'コメント': 3} , { include_blank: '選択', selected: @sort_algorithm }%>
</div>
</th>
<th>
  <%= form.submit class: "sort_btn btn btn-outline-primary btn-sm" %>
</th>
</table>
<br>

<% end %>

<div class = "article_list border border-secondary rounded" >
<% @articles.each.with_index(1) do |article, ranking_number| %>
    <div class = "article_and_comment">
      <ul class ="each_article shadow p-3 bg-white rounded border-top">
        <li class = "one_article"><%= link_to article.title, article.link, target: :_blank, rel: "noopener noreferrer"%></li>
        <li class="article_info text-info" >
          記事内いいね数:<%= article.article_statistic.fav %>
          記事内コメント数:<%= article.article_statistic.comment %>
          合算:<%= article.ranking %>
        </li>
        <li class = "one_comment" ><%= link_to 'コメント一覧', new_article_comment_path(article, ranking: article.ranking) %></li>
        <li class = "article_source text-black-50"><%= article.created_at.strftime("%y年%-m月%-d日 %-H時") %>:Yahoo!ニュース</li>
      </ul>
      <ul class = "ranking_list">
        <li class = "the_number"><%= ranking_number %>位</li>
      </ul>
    </div>
    <% end %>
</div>
<br>
